<!DOCTYPE html>
<html>

<head>
  <title>Регистрация</title>
  <link rel="stylesheet" href="/static/css/article.css">
</head>

<body>
  <div class="content">
    <h1>Регистрация</h1>
    <form class="registration" method="POST">{% csrf_token %}
      <input type="text" name="username" placeholder="Имя пользователя" value="{{ form.username }}">
      <input type="text" name="mail" placeholder="E-mail пользователя" value="{{ form.mail }}">
      <input type="text" name="password" placeholder="Пароль пользователя" value="{{ form.password }}">
      <input type="submit" value="Зарегистрироваться">
    </form>
    {{ form.errors }}
  </div>
</body>

</html>